<div class="container-fluid">
    <form (ngSubmit)="saveMovie()" #createMovieForm="ngForm">
        <dl class="dl-horizontal">
            <h1>Add a new entry</h1>
            <dt>Movie title:</dt>
            <dd>
                <input type="text" ngModel name="title" class="form-control" required />
            </dd>
            <dt>Producers:</dt>
            <dd>
                <input class="form-control" type="text" ngModel name="producer" required />
            </dd>
            <dt>Release date:</dt>
            <dd>
                <input class="form-control" type="date" ngModel name="releaseDate" required />
            </dd>
            <dt>Director:</dt>
            <dd>
                <input class="form-control" type="text" ngModel name="director" required />
            </dd>
            <dt>Opening crawl:</dt>
            <dd>
                <textarea class="form-control" ngModel name="openingCrawl" required></textarea>
            </dd>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info" (click)="confirmYourDecision()">
              <i class="bi bi-chevron-left"></i>
              Cancel
            </button>
                    </div>
                    <div class="col-md-4 col-md-offset-4 align-right">
                        <button type="submit" class="btn btn-info" [disabled]="!createMovieForm.valid">
              Save
              <i class="bi bi-check2"></i>
            </button>
                    </div>
                </div>
            </div>
        </dl>
    </form>
</div>

<app-confirmation *ngIf="isConfirmationOpen" (response)="handleConfirmationResponse($event)"></app-confirmation>