<div class="container-fluid">
  <form (ngSubmit)="saveMovie()" #createMovieForm="ngForm">
    <dl class="dl-horizontal">
      <h1>Add a new entry</h1>
      <dt>Movie title:</dt>
      <dd>
        <input type="text" ngModel name="title" class="form-control" required />
      </dd>
      <dt>Producers:</dt>
      <dd>
        <input
          class="form-control"
          type="text"
          ngModel
          name="producer"
          required
        />
      </dd>
      <dt>Release date:</dt>
      <dd>
        <input
          class="form-control"
          type="date"
          ngModel
          name="releaseDate"
          required
        />
      </dd>
      <dt>Director:</dt>
      <dd>
        <input
          class="form-control"
          type="text"
          ngModel
          name="director"
          required
        />
      </dd>
      <dt>Opening crawl:</dt>
      <dd>
        <textarea
          class="form-control"
          ngModel
          name="openingCrawl"
          required
        ></textarea>
      </dd>
      <div class="button-container">
        <button
          type="button"
          class="btn btn-info"
          (click)="confirmYourDecision()"
        >
          <i class="bi bi-chevron-left"></i>
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-info"
          [disabled]="!createMovieForm.valid"
        >
          Save
          <i class="bi bi-check2"></i>
        </button>
      </div>
    </dl>
  </form>
</div>

<app-confirmation
  *ngIf="isConfirmationOpen"
  (response)="handleConfirmationResponse($event)"
></app-confirmation>
