<app-login
  role="dialog"
  class="login-modal"
  *ngIf="loginModalVisibility"
></app-login>
<app-movies-edition *ngIf="movieToDisplay$ | async" [moviePayload]="movieToDisplay$ | async" [isPopUp]="true"></app-movies-edition>
<div class="shadow" *ngIf="loginModalVisibility" (click)="hideLoginModal()"></div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapsed"
        data-target="#navbar-options"
        aria-expanded="false"
        (click)="toggleNavbarMenuVisibility()"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/movies" #navbar_brand>StarWars</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-options" #navbar_mobile_menu>
      <form
        class="navbar-form navbar-left"
        role="search"
        (ngSubmit)="findMovie()"
        #searchMovieForm="ngForm"
      >
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search a movie"
            ngModel
            name="searchInput"
            (focus)="disableOnKeyDownPagination('focus')"
            (blur)="disableOnKeyDownPagination('blur')"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-default"
          [disabled]="!searchMovieForm.valid"
        >
          Search
        </button>
      </form>
      <form class="navbar-form navbar-right">
        <button
          type="button"
          class="btn btn-default"
          (click)="makeLoginModalVisible()"
          *ngIf="!(signInStatus$ | async)"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="signOut()"
          *ngIf="signInStatus$ | async"
        >
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/movies">Movies</a>
        </li>
        <li role="presentation" [ngClass]="{ active: isPlanetsActive }">
          <a routerLink="/planets/1">Planets</a>
        </li>
        <li role="presentation" [ngClass]="{ active: isPeopleActive }">
          <a routerLink="/people/1">People</a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div *ngIf="(locationURLSegment !== '/about')" class="about-container">
  <a routerLink="/about">About</a>
</div>
